#obshieNastroykiStraniciKorzini{
    background-color: #f8f8f8;
}

.VashaKorzinaText{
    margin-left:50px;
    padding-top:20px;
    padding-bottom:10px;
    font-size: 24px;
    color:#555;
}
span.VashaKorzinaTextDop{
    font-size: 16px;
    font-weight: 100;
}
.obshayaShirinaKorzini{
    width: 95%;
    min-width: 600px;
    background-color: white;
    margin-left:auto;
    margin-right: auto;
}
.cartProduct{
    width:100%;
    height: 270px;
    /*background-color:#f87968;*/
}
.imageBox{
    /*background-color: #eee;*/
    height:100%;
    width: 25%;
    display: inline-block;
    float:left;
}
.imageBox img{
    padding-left: 5%;
    padding-right: auto;
    padding-bottom: auto;
    padding-top: auto;
}
.nameBox{
    /*background-color: #fff;*/
    height:100%;
    width: 37%;
    display: inline-block;
    float:left;
}
.nameBox span.dop1{
    font-size:18px;
    color:#555;
    padding-top: 20px;
}
.nameBox span.dop2{
    font-size: 13px;
    font-weight: lighter;
    color:#555;
}

.priceBox{
    /*background-color: #ddd;*/
    height:100%;
    width: 37%;
    display: inline-block;
}
.priceBox input{
    width:25px;
}
.number{
    display: inline-block;
    float:left;
    margin:20px;
}
.price{
    display:inline-block;
    float: left;
    margin: 20px;
}
span.dopBold{
    color:#f87968;
    font-size:18px;

}
span.dopL{
    font-size:16px;
    margin-left:150px;
}
hr.dop3{
  color: #e8e8e8; /*ﾐｴﾐｻﾑ� IE */
    background-color:#e8e8e8; /*ﾐｴﾐｻﾑ� Firefox, Opera, Safari*/
    border:0px none;
    width:300px;

    height:1px; /* ﾐｲﾑ錦�ﾐｾﾑひｰ 1px IE, Firefox, Opera, Safari */
    clear:both; /* ﾐｴﾐｻﾑ� ﾐｾﾑ�ﾐｸﾑ�ﾑひｺﾐｸ, ﾐｵﾑ�ﾐｻﾐｸ ﾑひｵﾐｳ ﾐｸﾐｴﾐｵﾑ� ﾐｿﾐｾﾑ�ﾐｻﾐｵ float ﾐｵﾐｻﾐｵﾐｼﾐｵﾐｽﾑひｰ */

}
hr.dopHR2{
  color: #e8e8e8; /*ﾐｴﾐｻﾑ� IE */
    background-color:#e8e8e8; /*ﾐｴﾐｻﾑ� Firefox, Opera, Safari*/
    border:0px none;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height:1px; /* ﾐｲﾑ錦�ﾐｾﾑひｰ 1px IE, Firefox, Opera, Safari */
    clear:both; /* ﾐｴﾐｻﾑ� ﾐｾﾑ�ﾐｸﾑ�ﾑひｺﾐｸ, ﾐｵﾑ�ﾐｻﾐｸ ﾑひｵﾐｳ ﾐｸﾐｴﾐｵﾑ� ﾐｿﾐｾﾑ�ﾐｻﾐｵ float ﾐｵﾐｻﾐｵﾐｼﾐｵﾐｽﾑひｰ */

}
hr.dopHR1{
  color: #e8e8e8; /*ﾐｴﾐｻﾑ� IE */
    background-color:#e8e8e8; /*ﾐｴﾐｻﾑ� Firefox, Opera, Safari*/
    border:0px none;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height:1px; /* ﾐｲﾑ錦�ﾐｾﾑひｰ 1px IE, Firefox, Opera, Safari */
    clear:both; /* ﾐｴﾐｻﾑ� ﾐｾﾑ�ﾐｸﾑ�ﾑひｺﾐｸ, ﾐｵﾑ�ﾐｻﾐｸ ﾑひｵﾐｳ ﾐｸﾐｴﾐｵﾑ� ﾐｿﾐｾﾑ�ﾐｻﾐｵ float ﾐｵﾐｻﾐｵﾐｼﾐｵﾐｽﾑひｰ */
}
hr.topHRinCart{
  color: #f1f1f1; /*ﾐｴﾐｻﾑ� IE */
    background-color:#f1f1f1; /*ﾐｴﾐｻﾑ� Firefox, Opera, Safari*/
    border:0px none;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height:1px; /* ﾐｲﾑ錦�ﾐｾﾑひｰ 1px IE, Firefox, Opera, Safari */
    clear:both; /* ﾐｴﾐｻﾑ� ﾐｾﾑ�ﾐｸﾑ�ﾑひｺﾐｸ, ﾐｵﾑ�ﾐｻﾐｸ ﾑひｵﾐｳ ﾐｸﾐｴﾐｵﾑ� ﾐｿﾐｾﾑ�ﾐｻﾐｵ float ﾐｵﾐｻﾐｵﾐｼﾐｵﾐｽﾑひｰ */

}
hr.topHRinCart2{
  color: #e8e8e8; /*ﾐｴﾐｻﾑ� IE */
    background-color:#e8e8e8; /*ﾐｴﾐｻﾑ� Firefox, Opera, Safari*/
    border:0px none;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height:1px; /* ﾐｲﾑ錦�ﾐｾﾑひｰ 1px IE, Firefox, Opera, Safari */
    clear:both; /* ﾐｴﾐｻﾑ� ﾐｾﾑ�ﾐｸﾑ�ﾑひｺﾐｸ, ﾐｵﾑ�ﾐｻﾐｸ ﾑひｵﾐｳ ﾐｸﾐｴﾐｵﾑ� ﾐｿﾐｾﾑ�ﾐｻﾐｵ float ﾐｵﾐｻﾐｵﾐｼﾐｵﾐｽﾑひｰ */

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.LogInCart2 {
  line-height: 90px;
  padding-left: 2em;
}
.LogInCart2 img {
  width: 10%;
}

