@CHARSET "UTF-8";
body{
 margin:0;
 padding: 0;
}

.productDetail{
    margin-left: 238px;
    margin-top: -450px;
    height: 450px;
    background-color: #eee;
    z-index: 2;
    position: absolute;
}

.productImage{
	text-align: center;
}