.sliderSpacePL{
    margin-left: 238px;
    margin-top: -450px;
    height: /*450px*/1600px;
    background-color: #eee;
    z-index: 2;
    position: absolute; /*~~~~~~~~~~~~~ZDES POMENYALOS RASPOLOZENIYE SLAYDERA I POP UP STAL NA MESTO(z-index)~~~~~~*/
    color:red;
    width: 750px;
    overflow: scroll;
}
.dveKartinkiSprava{
       background-image: url(../images/banners/banner_pens.jpeg);
       background-size: cover;
}
.searchSpace{
    width:700px;
    height:175px;
    background-color: /*#f5ffff*/ #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.productsList{
    width:700px;
    height:350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.productKvadrat{
    width:210px;
    height:350px;
    background-color:/*#ff99f9*/ #fff;
    display: inline-block;
    float:left;
    /*border: 1px solid #eee;*/
}

.productKvadratRastoyaniye{
    width:/*25px*/35px;
    height: 350px;
    display: inline-block;
    float:left;
}

.productKvadrat_image{
    width:210px;
    height:210px;
    /*background-image:url(../images/banners/pu-skr_001m.jpg);*/
    /*background-size: cover;*/

    display: inline-block;


}
.productKvadrat_image img{
    heigt:210px;
    width:210px;
}
/*
.productKvadrat2{
    width:210px;
    height:350px;
    background-color:#ff99f9;
    display: inline-block;
    float:left;
}

.productKvadrat3{
    width:210px;
    height:350px;
    background-color:#ff99f9;
    display: inline-block;
    float: left;

}
*/


.productName{
     color: #01266B;
    margin: 5px;
}

hr.productName {
    color: #eee; /*ÑtÑ|Ñë IE */
    background-color:#eee; /*ÑtÑ|Ñë Firefox, Opera, Safari*/
    border:0px none;
    width:190px;
    margin-left: auto;
    margin-right: auto;
    height:1px; /* ÑrÑçÑÉÑÄÑÑÑp 1px IE, Firefox, Opera, Safari */
    clear:both; /* ÑtÑ|Ñë ÑÄÑâÑyÑÉÑÑÑ{Ñy, ÑuÑÉÑ|Ñy ÑÑÑuÑs ÑyÑtÑuÑÑ ÑÅÑÄÑÉÑ|Ñu float ÑuÑ|ÑuÑ}ÑuÑ~ÑÑÑp */
}
.priceAll{
    float:right;
}
span.price{
    margin-left: 5px;
    margin-top: 5px;
    color: #F35600;
    font-size: 19px;

}
span.tax{
    color: #000;
    font-size: 11px;

}
.review{
    display: inline-block;
    vertical-align:bottom;
    margin: 5px;
}
.review span.fl{
    display: inline-block;
    float: left;
    font-size:12px;
    color: #000;
    padding-top: 5px;

}
span.fl2{
    /*margin-top: -5px;*/
    color: #000;
    font-size: 12px;
    vertical-align: top;
padding-top: 10px;
    display: inline-block;
}
.review img{
    width:98px;
    display: inline-block;
    float:right;
}
.numberofOrder{
    color:#000;
    font-size:12px;
    margin-left:5px;
}
.productListFutter{
    color:#000;
    font-size:13px;
}
.productListFutter hr{
    color: #777; /*ÑtÑ|Ñë IE */
    background-color:#777; /*ÑtÑ|Ñë Firefox, Opera, Safari*/
    border:0px none;
    width:100%;
   /* margin-left: auto;
    margin-right: auto;*/
    height:1px; /* ÑrÑçÑÉÑÄÑÑÑp 1px IE, Firefox, Opera, Safari */
    margin-left:0px;
    /*clear:both; /* ÑtÑ|Ñë ÑÄÑâÑyÑÉÑÑÑ{Ñy, ÑuÑÉÑ|Ñy ÑÑÑuÑs ÑyÑtÑuÑÑ ÑÅÑÄÑÉÑ|Ñu float ÑuÑ|ÑuÑ}ÑuÑ~ÑÑÑp */
}