 body{
     margin: 0;
 }
 
.login-err, .login-success {
	width: 30%;
	margin: 0 auto;
}

.login-success p {
	font-size: .8em;
	padding: 1em;
	border-radius: 4px;
	background-color: #43A047;
	color: #fefefe;
}

.login-err p {
	font-size: .8em;
	padding: 1em;
	border-radius: 4px;
	background-color: #F44336;
	color: #fefefe;
}
 
.RegisterTop{
    background-color:#F7F7F7;
    width:100%;
    color:red;
    border-bottom: solid 1px #ddd;
}
.RegisterTop img{
    width:100px;
    margin-left: auto;
    margin-right: auto;   
}

input, textarea, select, button {
  width : 150px;
  margin: 0;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

input{
    height: 40px;   
    width:400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    color:#777;
    font-weight: 200;
    font-size: 15px;
    
    border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
border: 1px solid #ddd;
    
}

input:focus {
    border:1px solid #33CCFF;
} 

input[type=submit]{
    background-color: #55ACEE;
    color:#fff;
}
p.pp{
    font-size: 20px;
    color:#222;
}
.policy{
    font-size: 12px;
    width:400px;
    color:#777;
    font-weight: 200;
    margin-top:-10px;    
}