/*
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}
*/
/*----------------------*/


/* Form wrapper styling */
.form-wrapper {
    width: 590px;
    margin-top: 23px;
}

/* Form text input */

.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: /*#eee*/#fff;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 1px rgba(0,0,0,.8) inset;
}

.form-wrapper .strelka select {
    width: 167px;
    height:40px;
    padding: 10px 5px;
/*    float: left;
*/
    font: /*bold*/ 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: /*#eee*/#fff;
    box-shadow: -1px 0 1px rgba(0,0,0,.8) inset;
    cursor:pointer;
    background: url(../images/strelka_select.png) no-repeat right #fff;
    background-position: 120px;
    background-size: 15px 10px;
}

.form-wrapper .strelka{
    width: 150px;
    height:40px;
    float: left;
    border: 0;
    cursor:pointer;
    overflow: hidden;
    background: url(../images/strelka_select.png) no-repeat right #ddd;
    background-size: 10px 10px;
    background-position: center;

}



.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: /*110px*/100px;
    font:  15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #c42f2f;
    outline: 0;
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

.form-wrapper button img{
    width:62%;
    height:66%;
    margin-left: /*-20px*/-10px;
    margin-top: 7px;
}


.LoginAndCart{
    margin-top: -60px;
    margin-left: 870px;
    color:#555;
}
.LoginAndCart img{
    height: 37px;
    float:left;
}
.LoginAndCart table{
    table-layout: fixed;
    width:300px;
    margin-left: /*20px*/100px;
}
.LoginAndCart td{
    width: 160px;
    height: 90px;
}
.LoginAndCart td p{
    padding-left: 40px;
}
