body{
 margin:0;
 padding: 0;
}
.topUnderTop{
    height: 35px;
    background-color:#F7F7F7;
    width:100%;
    color:red;
    border-bottom: solid 1px #ddd;
}
.topMain{
    height: 90px;
    color: white;
    width:100%;
    border-bottom: solid 1px #ddd;
    
        display:inline-block;
}
/*.topMain img{
    height: 60px;
    margin-left: 40px;
    margin-top: 15px;
}*/
.topMain .logo_img img{
    height: 60px;
    margin-left: 57px;
   /* margin-top: 15px;*/
    margin-top: /*23px*/ 15px;
}

a:link{color:#555;} 
a:visited{color:#555;} 
a:hover{color:/*#2877aa*/ #e54040;} 
a:active{color:#e54040;} 
a{
    text-decoration: none;   
}